.Dead::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 13;
  opacity: 0.3;
}

.unknown::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #eee;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0.3;
}

.img-status.Dead {
  color: red;
}

.img-status.unknown {
  color: black;
}